﻿@model IEnumerable<QuizWebApp.ViewModels.CategoryViewModel>
@using Core.Common;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
       <h1 class="display-4">@Localizer["Category List"]</h1>
    </div>
    <div class="ms-4 my-3">
        <a href="/category/create" class="btn btn-success">@Localizer["Add Category"]</a>
    </div>
    <div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @foreach(var category in Model)
            {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>@Enum.GetName(typeof(Status), category.Status)</td>
                <td><a href="category/update/@category.Id" class="btn btn-primary">Edit</a></td>
                <td><button onclick="confirmDeleteCategory(@category.Id)" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            }
          </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDeleteCategory(categoryId)
        {
            swal({
              title: "Are you sure?",
              text: "Do you want to delete this category?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                  deleteCategory(categoryId);
              }
            });
        }

        function deleteCategory(categoryId) {
            $.ajax({
                url: "/Category/DeleteCategory/" + categoryId,
                type: "POST",
                success: function (data) {
                    window.location="/category";
                }
            });
        }
    </script>
}
