﻿@model IEnumerable<QuizWebApp.ViewModels.AnswerViewModel>
@using Core.Common;

@{
    ViewData["Title"] = "Answer Page";
}

<div>
    <div class="text-center">
       <h1 class="display-4">Answer List</h1>
    </div>

    <div class="ms-4 my-3">
        <a href="/answer/create" class="btn btn-success">Add Answer</a>
        <form class="m-0 p-0 d-inline-block" method="post" asp-controller="Answer" asp-action="ExportExcelAnswer">
            <button type="submit" class="btn btn-success ms-4">Export Answer</button>
        </form>
        <form class="mx-5 p-0 d-inline-block" id="import-answer-form" method="post" asp-controller="Answer" asp-action="ImportExcelAnswer" enctype="multipart/form-data">
            <input type="file" accept=".xlsx" name="ExcelAnswerFile"/>
            <button type="submit" class="btn btn-success ms-4">Import Answer</button>
        </form>
    </div>

    <div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Question</th>
              <th scope="col">Image</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            @foreach(var answer in Model)
            {
            <tr>
                <th scope="row">@answer.Id</th>
                <td>@answer.Name</td>
                <td>@answer.Description</td>
                <td>@answer.QuestionId</td>
                <td>
                    @if (!String.IsNullOrEmpty(answer.Image))
                    {
                       <img class="img-item" src="~/images/@answer.Image"/>
                    }
                </td>
                <td>@Enum.GetName(typeof(Status), answer.Status)</td>
                <td><a href="/answer/update/@answer.Id" class="btn btn-primary">Edit</a></td>
                <td><button onclick="confirmDeleteAnswer(@answer.Id)" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            }
          </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDeleteAnswer(answerId)
        {
            swal({
              title: "Are you sure?",
              text: "Do you want to delete this answer?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                  deleteAnswer(answerId);
              }
            });
        }

        function deleteAnswer(answerId) {
            $.ajax({
                url: "/Answer/DeleteAnswer/" + answerId,
                type: "POST",
                success: function (data) {
                    window.location="/answer";
                }
            });
        }

        var importAnswerForm = {};
        // Form initialisation
        importAnswerForm.init = function () {
            // Validate For Registration
            $('#import-answer-form').validate({
                highlight: function (element, errorClass, validClass) {
                    if ($(element).attr("type") === "radio") {
                        this.findByName(element.name).addClass(errorClass);
                    } else {
                        $(element).addClass(errorClass);
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    if ($(element).attr("type") === "radio") {
                        this.findByName(element.name).removeClass(errorClass);
                    } else {
                        $(element).removeClass(errorClass);
                    }
                },
                rules: {
                    ExcelAnswerFile: {
                        required: true
                    }
                },
                messages: {
                    ExcelAnswerFile: {
                        required: "File Import is required"
                    }
                }
            });

        };

        $(importAnswerForm.init);
        
    </script>
}
