﻿@model QuizWebApp.ViewModels.CategoryViewModel
@using Core.Common;
@using QuizWebApp.ViewModels;

<div>
    <div class="text-center mb-3">
       <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div class="p-4 border w-100">
        <form method="post" asp-controller="Category" asp-action="CreateEditCategory" id="create-update-category-form">
            <div class="row w-100 mb-3">
            <div class="col-md-6 col-12">
                <div class="form-group row pe-md-5 mb-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" asp-for="Name">
                      <span class="error" asp-validation-for="Name"></span>
                    </div>
                </div>
                <input type="hidden" class="form-control" asp-for="Id">
            </div>

            <div class="col-md-6 col-12 pe-md-5">

                <div class="form-group row mb-3">
                    <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select id="inputStatus" class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()">
                        </select>
                        <span class="error" asp-validation-for="Status"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row w-100 pe-md-5 mb-3">
            <div class="form-group pe-0">
                <label for="descriptionInput">Description</label>
                <textarea class="form-control w-100" id="descriptionInput" rows="3" asp-for="Description"></textarea>
                <span class="error" asp-validation-for="Description"></span>
            </div>
        </div>

        <div class="w-100 d-flex justify-content-center">
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/category" class="btn btn-secondary ms-4">Cancel</a>
            </div>
        </div>
        </form>
    </div>
</div>
