html {
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cursor-pointer {
    cursor: pointer;
}

.img-question:hover {
    opacity: 0.7
}

.img-item {
    max-width: 300px;
}

.error {
    margin: 0px;
    color: Red;
}