﻿@model QuizWebApp.ViewModels.QuestionViewModel
@using Core.Common;
@using QuizWebApp.ViewModels;

@{
    var categories = ViewData["Categories"] as IEnumerable<CategoryViewModel>;
}

<div>
    <div class="text-center mb-3">
       <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div class="p-4 border w-100">
        <form method="post" asp-controller="Question" asp-action="CreateEditQuestion" enctype="multipart/form-data" id="create-update-question-form">
            <div class="row w-100 mb-3">
            <div class="col-md-6 col-12">
                <div class="form-group row pe-md-5 mb-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" asp-for="Name">
                      <span class="error" asp-validation-for="Name"></span>
                    </div>
                </div>
                <input type="hidden" class="form-control" asp-for="Id">
                <input type="hidden" class="form-control" asp-for="Image">
                <div class="form-group row pe-md-5 mb-3">
                    <label for="inputLevel" class="col-sm-2 col-form-label">Level</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputLevel" asp-for="Level">
                    </div>
                </div>

                <div class="form-group row pe-md-5 mb-3">
                    <label for="inputType" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                        <select id="inputType" class="form-control" asp-for="Type" asp-items="Html.GetEnumSelectList<QuestionType>()">
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12 pe-md-5">
                <div class="form-group row mb-3">
                    <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">

                        <select id="inputCategory" class="form-control" asp-for="CategoryId">
                            @foreach(var category in categories!)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select id="inputStatus" class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()">
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                      <input onchange="readURL(this);" type="file" accept=".jpg,.png,.jpeg" class="form-control" id="inputImage" asp-for="Image">
                    </div>
                </div>

                <div class="mb-3 w-100 d-flex justify-content-center">
                    <div class="w-50 d-flex justify-content-center">
                       @if (String.IsNullOrEmpty(Model.Image))
                       {
                          <img class="img-fluid border cursor-pointer img-question" src="~/images/choose-img.png" id="question-img"/>
                       }
                       else
                       {
                           <img class="img-fluid border cursor-pointer img-question" src="~/images/@Model.Image" id="question-img"/>  
                       }
                    </div>
                </div>

            </div>
        </div>
        <div class="row w-100 pe-md-5 mb-3">
            <div class="form-group pe-0">
                <label for="descriptionInput">Description</label>
                <textarea class="form-control w-100" id="descriptionInput" rows="6" asp-for="Description"></textarea>
                <span class="error" asp-validation-for="Description"></span>
            </div>
        </div>

        <div class="w-100 d-flex justify-content-center">
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/question" class="btn btn-secondary ms-4">Cancel</a>
            </div>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $( "#question-img" ).click(function() {
            $("#inputImage").click();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#question-img')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
}
