﻿@model IEnumerable<QuizWebApp.ViewModels.QuestionViewModel>
@using Core.Common;

@{
    ViewData["Title"] = "Question Page";
}

<div>
    <div class="text-center">
       <h1 class="display-4">Question List</h1>
    </div>
    
    <div class="ms-4 my-3">
        <a href="/question/create" class="btn btn-success">Add Question</a>
        <form class="m-0 p-0 d-inline-block" method="post" asp-controller="Question" asp-action="ExportExcelQuestion">
            <button type="submit" class="btn btn-success ms-4">Export Question</button>
        </form>
        <form class="mx-5 p-0 d-inline-block" id="import-question-form" method="post" asp-controller="Question" asp-action="ImportExcelQuestion" enctype="multipart/form-data">
            <input type="file" accept=".xlsx" name="ExcelQuestionFile"/>
            <button type="submit" class="btn btn-success ms-4">Import Question</button>
        </form>
    </div>
    
    <div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Image</th>
              <th scope="col">Category</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            @foreach(var question in Model)
            {
            <tr>
                <th scope="row">@question.Id</th>
                <td>@question.Name</td>
                <td>@question.Description</td>
                <td>@Enum.GetName(typeof(QuestionType), question.Type)</td>
                <td>
                    @if (!String.IsNullOrEmpty(question.Image))
                    {
                       <img class="img-item" src="~/images/@question.Image"/>
                    }
                </td>
                <td>@question.CategoryName</td>
                <td>@Enum.GetName(typeof(Status), question.Status)</td>
                <td><a href="/question/update/@question.Id" class="btn btn-primary">Edit</a></td>
                <td><button onclick="confirmDeleteQuestion(@question.Id)" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            }
          </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDeleteQuestion(questionId)
        {
            swal({
              title: "Are you sure?",
              text: "Do you want to delete this question?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                  deleteQuestion(questionId);
              }
            });
        }

        function deleteQuestion(questionId) {
            $.ajax({
                url: "/Question/DeleteQuestion/" + questionId,
                type: "POST",
                success: function (data) {
                    //swal("Question has been deleted!", {
                    //    icon: "success",
                    //});
                    window.location="/question";
                }
            });
        }

        var importQuestionForm = {};
        // Form initialisation
        importQuestionForm.init = function () {
            // Validate For Registration
            $('#import-question-form').validate({
                highlight: function (element, errorClass, validClass) {
                    if ($(element).attr("type") === "radio") {
                        this.findByName(element.name).addClass(errorClass);
                    } else {
                        $(element).addClass(errorClass);
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    if ($(element).attr("type") === "radio") {
                        this.findByName(element.name).removeClass(errorClass);
                    } else {
                        $(element).removeClass(errorClass);
                    }
                },
                rules: {
                    ExcelQuestionFile: {
                        required: true
                    }
                },
                messages: {
                    ExcelQuestionFile: {
                        required: "File Import is required"
                    }
                }
            });

        };

        $(importQuestionForm.init);
        
    </script>
}
